!!! 5
%html
  %head
    %title Silver Screams
    %link(href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet')
    %link(href='main.css' rel='stylesheet')

  %body
    %h1.logo
      Silver Screams

    %h2.about
      punk rock and roll from Boston, MA

    %p.next-show
      Next show:

      Monday 11 November at the Middle East Upstairs
      <br>
      with The Business, The Welch Boys, and The Warning Shots

    %a(href='https://www.facebook.com/events/202730016560615/' target='_blank')
      %img.flyer(src='images/20131111-business.jpg' alt='Flyer for The Business show')

    //%a(href='https://www.facebook.com/events/508974155850482/' target='_blank')
    //  %img.flyer(src='images/20131011-church.jpg' alt='Flyer for Peelander Z show')

    %p
      //<iframe width="600" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7794664"></iframe>
      <iframe width="420" height="315" src="//www.youtube.com/embed/8hTLpyXarhs" frameborder="0" allowfullscreen></iframe>

    %br

    %p Previous shows:

    %p
      Friday 11 October at Church of Boston with Peelander Z and Planetoid

    %p
      Saturday 5 October 2013 at Radio Downstairs with
      The Tenafly Vipers, Capital Radio, and Give Up!

    %p
      Sunday 21 July 2013
      at the Midway Cafe with Cinema Cinema and BDSX

    %p
      Saturday 29 June 2013 at Roggie's with
      Artless, Black Cheers, and Spectrehawk

    %p
      Friday 14 June 2013 at Middle East Downstairs with
      Down By Law, Doc Hopper, and The Fatal Flaw

    %br

    %p.contact
      %a(href='mailto:contact@silverscreams.us') contact@silverscreams.us


