!!! 5
%html
  %head
    %title Silver Screams
    %link(href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet')
    %link(href='main.css' rel='stylesheet')

  %body
    %h1.logo
      Silver<br>Screams

    %h2.about
      punk rock and roll from Boston, MA

    //%p.lineup
    //  Niff plays guitar, Sean plays bass, Pete plays drums

    %p.next-show
      Next show:
      // <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3484534&pl=mideastclub">
      // Friday 14 June at Middle East Downstairs with Down By Law, Doc Hopper, The Fatal Flaw, and more!</a>

      <a target='_blank' href='images/ROGGIES-BLACK-MARK-6-29-2013-WEB.jpg'>
      Saturday 29 June at Roggie's (Cleveland Circle) with Artless, Black
      Cheers, and Spectrehawk</a>

    %p.contact
      %a(href='mailto:contact@silverscreams.us') contact@silverscreams.us
