!!! 5
%html
  %head
    %title Silver Screams
    %link(href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet')
    %link(href='main.css' rel='stylesheet')

  %body
    %h1.logo
      Silver<br>Screams

    %h2.about
      punk rock and roll from Boston, MA

    %p.next-show
      Next show:
      // <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=3484534&pl=mideastclub">
      // Friday 14 June at Middle East Downstairs with Down By Law, Doc Hopper, The Fatal Flaw, and more!</a>
      <a target='_blank' href='https://www.facebook.com/events/192046297619351/'>
      Saturday 29 June at Roggie's (Cleveland Circle) with Artless, Black
      Cheers, and Spectrehawk</a>

    %img.flyer(src='images/ROGGIES-BLACK-MARK-6-29-2013-WEB.jpg' alt="Flyer for Roggie's show")

    %p
      And then:
      Sunday 21 July at the
      <a target='_blank' href='http://midwaycafe.com/'>Midway Cafe</a> with
      <a target='_blank' href='http://www.cinemacinemaband.com/'>Cinema Cinema</a>
      and
      <a target='_blank' href='https://www.facebook.com/pages/BDSX/382920978462445'>BDSX</a>

    %p.contact
      %a(href='mailto:contact@silverscreams.us') contact@silverscreams.us


