!!! 5
%html
  %head
    %title Silver Screams
    %link(href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet')
    %link(href='main.css' rel='stylesheet')

  %body
    %h1.logo
      Silver Screams

    %h2.about
      punk rock and roll from Boston, MA

    %p.next-show
      Next show:

      Saturday 7 December at the Greek American Social Club (Union Sq)
      %br
      with Sprained Ankles, Duck and Cover, and Give Up!
      %br
      21+ / $7 / 8pm

    %a(target='_blank' href='https://www.facebook.com/events/202873096571680/207340326124957/')
      %img(src='https://scontent-a-lga.xx.fbcdn.net/hphotos-prn2/960060_10152569772907715_1234154068_n.jpg' alt='Facebook event for 2013-12-07 show')

    %p
      -#<iframe width="600" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7794664"></iframe>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/8hTLpyXarhs" frameborder="0" allowfullscreen></iframe>

    %br

    %p Previous shows:

    %p
      Monday 11 November 2013 at the Middle East Upstairs
      %br
      with The Business, The Welch Boys, and The Warning Shots
      -#%a(href='https://www.facebook.com/events/202730016560615/' target='_blank')
      -#%  img.flyer(src='images/20131111-business.jpg' alt='Flyer for The Business show')

    %p
      Friday 11 October 2013 at Church of Boston
      %br
      with Peelander Z and Planetoid
      -#%a(href='https://www.facebook.com/events/508974155850482/' target='_blank')
      -#  %img.flyer(src='images/20131011-church.jpg' alt='Flyer for Peelander Z show')

    %p
      Saturday 5 October 2013 at Radio Downstairs
      %br
      with The Tenafly Vipers, Capital Radio, and Give Up!

    %p
      Sunday 21 July 2013 at the Midway Cafe
      %br
      with Cinema Cinema and BDSX

    %p
      Saturday 29 June 2013 at Roggie's
      %br
      with Artless, Black Cheers, and Spectrehawk

    %p
      Friday 14 June 2013 at Middle East Downstairs
      %br
      with Down By Law, Doc Hopper, and The Fatal Flaw

    %br

    %p.contact
      %a(href='mailto:contact@silverscreams.us') contact@silverscreams.us


